.avatar {
  border: solid;
  border-radius: 50%;
  color: black;
  border-width: 2px;
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-row: 2 / 5;
}
