.card {
  border: solid;
  border-color: rgb(95, 159, 232);
  border-width: 4px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  max-width: 400px;
  max-height: 600px;
  box-shadow: 10px 5px 24px rgb(69, 65, 65);
  margin: 20px;
}
